.cancelSearch {
    width: 100px;
    height: 39px;
    margin-left: 315px;
    font-size: 12px;
    background-color: #777;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 10px;
}

.searchContainer {
    display: flex;
    width: 300px;
    margin: 20px auto;
}